/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
 

 
body {
  color: #7A664F;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1.5;

}

.side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CE6C47;
  position: fixed;
}

.side-bar li {
  float: center;
}

.side-bar li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.side-bar a:hover {
  background-color: #899966;
} 

.side-bar {

}

img {
  max-width: 300px;
  padding: 10px;
}
a {
  color: #F7FFF7;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
   padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
}

h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #4F3925;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.text2 {
	color: #CE6C47;
}


/* Profile
------------------------------------*/
header {
  background: #FFBA51;
  color: #FFF596;
}

.content-wrap img {
	float: right;
}


/* Projects
------------------------------------*/
.projects {
  background: #FFC184;
}
.projects a {
  color: #FFEAB5;
}
.projects .btn {
  color: #875D44 ;
  background: #FFEAB5;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: #899966 80%;
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}



/* Work Experience
------------------------------------*/
.work-experience {
  background: #FFF3D1;
  max-width: 1300px;
  margin: auto;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.work-experience a {
	color: #B6A483;
}
	
.work-experience .btn {
	color: #DDDCFF;
	background: #2D6592;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}

.work-experience .btn:hover {
	background: rgba(47, 48, 97, 80%);
}

.work-experience h2 {
	border: dashed #4F3925;
	padding: 15px;
	min-width: 260px;
}



/* Education
------------------------------------*/
.education {
  background-image: url(https://i.pinimg.com/originals/65/70/3a/65703ac4ce5161cb5333ef94ba1a2092.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 150px;
}
.education p {
  width: 60%;
}
  
.text-education {
	color: white;
  padding-left: 50px;
  padding-right: 220px;
  padding-bottom: 50px;
  padding-top: 50px;
  border: dashed white;
  position: relative;

}


/* Gallery
------------------------------------*/
.column {
	float: left;
	width: auto;
	padding-left: 250px;
}

.row { 
padding: auto;
float: right;
padding-right: 50px;

}

.row: :after {
	content: "drawing";
	clear: both;
	display: table;
}

.row: :after {
	content: "shopping";
	clear: both;
	display: table;
}

.row: :after {
	content: "exploring";
	clear: both;
	display: table;
	

}

.text {
	color: white;
}

/* Contact Info
------------------------------------*/
.content-wrap2 {
  background: #BEDBB6;
  color: #FCFFE0;
  max-width: 1300px;
  margin: auto;
  padding-left: 200px;
  padding-right: 100px;
  padding-bottom: 273px;
  padding-top: 50px;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  color: #F7FFF7;
  padding: 15px;
  display: inline-block;
}

.content-wrap2 h2 {
	border: dashed #809E78;
	padding: 15px;
	min-width: 200px;
}

